{% extends "layout.html" %}
{% block content %}
    {% if not jobs %}
        <hr><h2> No jobs submitted. </h2>
    {% else %}
        <h1>Queue:</h1><hr>
        {% for job in jobs %}
            {% if job.state == job.state.Waiting %}
                <hr><h3>{{ job.id }}. {{ job.posted.strftime("%Y-%m-%d %H:%M:%S")}}: <i>{{ job.jobname }}</i></h3>
                <p><b>Search terms ({{ job.countrycode}}):</b> "{{job.terms}}"</p>
                <form method="POST" action="">
                    {{ jobactionform.hidden_tag() }}
                    <div class="form-group" style="display: none;">
                        {{ jobactionform.jobnumber(value=job.id) }}
                    </div>
                    <div class="form-group">
                        {{ jobactionform.submitstart(class="btn btn-outline-info") }}
                        {{ jobactionform.submitcancel(class="btn btn-outline-info") }}
                    </div>
                </form>
                <br><br>
            {% endif %}
        {% endfor %}
        <h1>In Progress:</h1><hr>
        {% for job in jobs %}
            {% if job.state == job.state.Running %}
                <hr><h3>{{ job.id }}. {{ job.posted.strftime("%Y-%m-%d %H:%M:%S")}}: <i>{{ job.jobname }}</i></h3>
                <p><b>Search terms ({{ job.countrycode}}):</b> "{{job.terms}}"</p>
                <br><br>
            {% endif %}
        {% endfor %}
        <h1>Completed:</h1><hr>
        {% for job in jobs %}
            {% if job.state == job.state.Finished %}
                <hr><h3>{{ job.id }}. {{ job.posted.strftime("%Y-%m-%d %H:%M:%S")}}: <i>{{ job.jobname }}</i></h3>
                <p><b>Search terms ({{ job.countrycode }}):</b> "{{job.terms}}"</p>
                <p><b>Results:</b> {{ job.results }}</p>
                <br><br>
                <form method="POST" action="">
                    {{ jobactionform.hidden_tag() }}
                    <div class="form-group" style="display: none;">
                        {{ jobactionform.jobnumber(value=job.id) }}
                    </div>
                    <div class="form-group">
                        <p><b>Download:</b></p>
                        <p>    
                            <a class="btn btn-outline-info" href="{{ url_for('Talos.results', jobid=job.id, type='CSV') }}" download>CSV</a>
                            <a class="btn btn-outline-info" href="{{ url_for('Talos.results', jobid=job.id, type='JSON') }}" download>JSON</a>
                        </p>
                        {{ jobactionform.submitdelete(class="btn btn-outline-info") }}
                    </div>
                </form>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}